.elementor-5376 .elementor-element.elementor-element-0d825ef > .elementor-widget-container{margin:15px 0px 0px 0px;}.elementor-5376 .elementor-element.elementor-element-b4248c0{margin-top:20px;margin-bottom:0px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.51 * 100% );}.elementor-5376 .elementor-element.elementor-element-8fc8c53:after{content:"0.51";}.elementor-5376 .elementor-element.elementor-element-8fc8c53{--grid-column-gap:22px;--grid-row-gap:21px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__card{border-radius:0px;padding-top:0px;padding-bottom:0px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__text{padding:0 8px;margin-top:0px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__meta-data{padding:10px 8px;text-transform:none;font-style:normal;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__avatar{padding-right:8px;padding-left:8px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__card .elementor-post__meta-data{border-top-color:#FFFFFF;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__badge{right:0;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__card .elementor-post__badge{border-radius:20px;margin:0px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__title, .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__title a{font-size:15px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__title{margin-bottom:0px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-pagination{text-align:center;font-family:"Roboto", Sans-serif;font-size:18px;word-spacing:10px;margin-top:13px;}body:not(.rtl) .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 9px/2 );}body:not(.rtl) .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 9px/2 );}body.rtl .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 9px/2 );}body.rtl .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 9px/2 );}.elementor-5376 .elementor-element.elementor-element-8fc8c53 > .elementor-widget-container{margin:-5px 0px 0px 0px;}@media(max-width:767px){.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-5376 .elementor-element.elementor-element-8fc8c53:after{content:"0.5";}.elementor-5376 .elementor-element.elementor-element-8fc8c53{--grid-column-gap:24px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__title, .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__title a{font-size:20px;}.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__title{margin-bottom:15px;}}/* Start custom CSS for theme-archive-title, class: .elementor-element-0d825ef */.elementor-heading-title{
    font-size: 30px!important;
    margin-top: 40px!important;
}

@media only screen and (max-width: 600px) {
    
.elementor-5376 .elementor-element.elementor-element-8fc8c53 > .elementor-widget-container{
    margin-top:-40px;
}
 
}/* End custom CSS */
/* Start custom CSS for archive-posts, class: .elementor-element-8fc8c53 */.elementor-5376 .elementor-element.elementor-element-8fc8c53 >div >div div>  .elementor-post-avatar:before{
content:url('/storage/2022/03/ico-message-1.svg');
  position:relative; /*or absolute*/
  z-index:5; /*a number that's more than the modal box*/
  left:2px;

      position: absolute;
      transform: scale(0.6);
      top: 3px;
     
}

.elementor-5376 .elementor-element.elementor-element-8fc8c53 >div >div div>  .elementor-post-avatar{
   
      position: absolute;
    top: 0;
      padding-right: 5px;
  padding-top:2px;
  padding-bottom:2px;
     background: rgba(44, 44, 44, 0.63);
    color: #fff;
    padding: 0.6em 1em 0.6em 3em;
    line-height: 1;
    font-weight: 500;
    float: right;
border-bottom-left-radius:20px;
    right: 0px;
       font-family: Roboto;
 font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  opacity: 1!important;
  letter-spacing: normal;
    text-transform:lowercase;
}


.elementor-5376 .elementor-element.elementor-element-8fc8c53 >div >div div> .elementor-post__badge
{
   
     background-color: white;
    color:black;
    bottom: 0px!important;
    top:auto;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: right;
  color: #4d4d4d;
  text-transform: normal!important;
}
.elementor-5376 .elementor-element.elementor-element-8fc8c53  article:nth-child(3)::after {
  color: lime;
  content:"";
}

@media only screen and (max-width: 600px) {
    
   .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__title a{
       color:#696969;
   }
 .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__card
 { 
     flex-direction:row!important;
     
     
 }
 
 .elementor-5376 .elementor-element.elementor-element-8fc8c53 article{
     min-height:120px!important;
 }
 .elementor-5376 .elementor-element.elementor-element-8fc8c53 >div >div div>  .elementor-post-avatar > img{
   height:16px!important;
   
  
    
}
.elementor-posts-container.elementor-has-item-ratio .elementor-post__thumbnail img {
  height:100%!important;
  /*  top: calc(100% + 1px)!important;*/

}
 
 .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-post__thumbnail{
     overflow:inherit;
     width:100%!important;
     height:100%!important;
 }
 
 .Mread .elementor-post__badge{
     color:#4d4d4d!important;
      margin-right: 20px!important;
 }
 .Mread .elementor-post__text
  {
    padding-bottom:25px!important;
      
 }
 .Mread .elementor-post__thumbnail__link {
   
     margin-bottom:0px!important;
 }
 
 .Mread .elementor-post__text{
     width:50%;
 }
 
 .Mread  .elementor-post__meta-data{
     position: absolute;
    bottom: 0px;
    padding: 3px 0px!important;
    margin-left: 50%;
 }
 
 .Mread img{
     width:100%!important;
     height:220px!important;
 }
 
 .elementor-5376 .elementor-element.elementor-element-8fc8c53 >div >div div> .elementor-post__badge
{
   z-index:1;
       width: 60px;
           right: 3px;
           text-align:right;
    background-color: white;
    color:black;
    bottom: 0px!important;
    top:auto;
      font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  padding:0px;
  margin-left:5px;

    
}
 
}

 .elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-pagination .page-numbers.current{
    padding: 5px 13px 7px;
    border-radius: 12px;
    background-color: #ff4f30;
}

.elementor-5376 .elementor-element.elementor-element-8fc8c53 .elementor-pagination{
    margin-top: 40px;
}/* End custom CSS */