.elementor-851 .elementor-element.elementor-element-6ad9995 > .elementor-container{max-width:1270px;}.elementor-851 .elementor-element.elementor-element-6ad9995{margin-top:35px;margin-bottom:0px;}.elementor-851 .elementor-element.elementor-element-99a268e > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-851 .elementor-element.elementor-element-0a4aabd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-0a4aabd img{width:410px;height:270px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-12f07f0{--grid-row-gap:10px;--grid-column-gap:10px;}.elementor-851 .elementor-element.elementor-element-12f07f0 > .elementor-widget-container{margin:25px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.51 * 100% );}.elementor-851 .elementor-element.elementor-element-12f07f0:after{content:"0.51";}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__thumbnail__link{width:100%;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__card{background-color:#FFFFFF;border-radius:0px;padding-top:0px;padding-bottom:0px;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__text{padding:0 8px;margin-top:0px;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__meta-data{padding:10px 8px;font-size:12px;text-transform:none;font-style:normal;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__avatar{padding-right:8px;padding-left:8px;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__card .elementor-post__meta-data{border-top-color:#FFFFFF;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__badge{right:0;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__card .elementor-post__badge{margin:0px;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__title, .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__title a{font-size:15px;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__title{margin-bottom:15px;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination{text-align:center;font-family:"Roboto", Sans-serif;font-size:18px;word-spacing:10px;margin-top:13px;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination .page-numbers:not(.dots){color:#858585;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination a.page-numbers:hover{color:#575757FC;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination .page-numbers.current{color:#FFFFFF;}body:not(.rtl) .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 9px/2 );}body:not(.rtl) .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 9px/2 );}body.rtl .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 9px/2 );}body.rtl .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 9px/2 );}.elementor-851 .elementor-element.elementor-element-93a03da > .elementor-widget-container{margin:30px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-93a03da img{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-d39b2e3 > .elementor-widget-container{margin:10px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-d39b2e3 img{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-2ca8a2c > .elementor-widget-container{margin:20px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-2ca8a2c img{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-5a90cc2 > .elementor-widget-container{margin:20px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-5a90cc2 img{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-40fdef4 > .elementor-container{min-height:0px;}.elementor-851 .elementor-element.elementor-element-40fdef4{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:6;}.elementor-851 .elementor-element.elementor-element-cbc3de9:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-851 .elementor-element.elementor-element-cbc3de9 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-851 .elementor-element.elementor-element-cbc3de9 > .elementor-element-populated{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:7px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-cbc3de9 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-851 .elementor-element.elementor-element-cbc3de9{z-index:5;}.elementor-851 .elementor-element.elementor-element-d3f4b72 > .elementor-widget-container{margin:0px 0px 0px 010px;padding:10px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-d3f4b72 .elementor-heading-title{font-family:"Barlow Semi Condensed", Sans-serif;font-size:32px;font-weight:600;letter-spacing:-1px;color:#292929;}.elementor-851 .elementor-element.elementor-element-b4606d5{--divider-border-style:solid;--divider-color:#C2C2C2;--divider-border-width:1px;}.elementor-851 .elementor-element.elementor-element-b4606d5 > .elementor-widget-container{margin:-13px 0px -8px 0px;}.elementor-851 .elementor-element.elementor-element-b4606d5 .elementor-divider-separator{width:94%;margin:0 auto;margin-center:0;}.elementor-851 .elementor-element.elementor-element-b4606d5 .elementor-divider{text-align:center;}.elementor-851 .elementor-element.elementor-element-2eb0129{--grid-row-gap:6px;--grid-column-gap:4px;}.elementor-851 .elementor-element.elementor-element-2eb0129 > .elementor-widget-container{margin:-18px 0px 0px 0px;padding:0px 0px 20px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-2eb0129 .elementor-post{border-radius:0px;padding:0px 0px 0px 6px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-2eb0129 .elementor-post__text{padding:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-2eb0129 .elementor-post__title, .elementor-851 .elementor-element.elementor-element-2eb0129 .elementor-post__title a{font-size:18px;}.elementor-851 .elementor-element.elementor-element-2eb0129 .elementor-post__title{margin-bottom:0px;}.elementor-851 .elementor-element.elementor-element-1d7edfa > .elementor-widget-container{margin:20px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-1d7edfa{text-align:start;}.elementor-851 .elementor-element.elementor-element-1d7edfa img{width:410px;max-width:410px;height:130px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-23abd81 > .elementor-widget-container{background-color:#3A3A3A;padding:20px 0px 20px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:14px;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-14px;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-851 .elementor-element.elementor-element-23abd81 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-851 .elementor-element.elementor-element-23abd81 .elementor-labels-inline .elementor-field-group > label{padding-left:9px;}body:not(.rtl) .elementor-851 .elementor-element.elementor-element-23abd81 .elementor-labels-inline .elementor-field-group > label{padding-right:9px;}body .elementor-851 .elementor-element.elementor-element-23abd81 .elementor-labels-above .elementor-field-group > label{padding-bottom:9px;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-field-type-html{padding-bottom:7px;letter-spacing:-1px;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-button{font-weight:bold;line-height:1.22px;border-radius:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-23abd81 .e-form__buttons__wrapper__button-next{background-color:#FF4F30;color:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-button[type="submit"]{background-color:#FF4F30;color:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81 .e-form__buttons__wrapper__button-previous{background-color:#4D4D4D;color:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-851 .elementor-element.elementor-element-23abd81{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#FFFFFF;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:0px;--e-form-steps-divider-gap:10px;}.elementor-851 .elementor-element.elementor-element-7b5c274 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-7b5c274{text-align:start;}.elementor-851 .elementor-element.elementor-element-7b5c274 img{width:410px;max-width:410px;height:130px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-9681de8 > .elementor-container{max-width:500px;}.elementor-851 .elementor-element.elementor-element-9681de8{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);margin-top:10px;margin-bottom:0px;padding:0px 10px 30px 10px;}.elementor-851 .elementor-element.elementor-element-20ec575:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-851 .elementor-element.elementor-element-20ec575 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B5998;}.elementor-851 .elementor-element.elementor-element-20ec575 > .elementor-element-populated{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-20ec575 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-851 .elementor-element.elementor-element-616085a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-616085a{text-align:center;}.elementor-851 .elementor-element.elementor-element-616085a .elementor-heading-title{font-family:"Barlow Semi Condensed", Sans-serif;font-size:28px;font-weight:600;line-height:45px;letter-spacing:-1px;text-shadow:0px 0px 0px rgba(0,0,0,0.3);color:#FFFFFF;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-7885856.elementor-social-icon{background-color:#2595C400;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-7885856.elementor-social-icon i{color:#808080;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-7885856.elementor-social-icon svg{fill:#808080;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-5ec626a.elementor-social-icon{background-color:#FFFFFF;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-5ec626a.elementor-social-icon i{color:#808080;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-5ec626a.elementor-social-icon svg{fill:#808080;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-1c6d745.elementor-social-icon{background-color:#FFFFFF;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-1c6d745.elementor-social-icon i{color:#808080;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-1c6d745.elementor-social-icon svg{fill:#808080;}.elementor-851 .elementor-element.elementor-element-99fcebb{--grid-template-columns:repeat(3, auto);--icon-size:35px;--grid-column-gap:30px;--grid-row-gap:0px;}.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-widget-container{text-align:center;}.elementor-851 .elementor-element.elementor-element-99fcebb > .elementor-widget-container{background-color:#FFFFFF;margin:-20px 0px 0px 0px;padding:0px 0px 3px 0px;border-radius:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.16);}.elementor-851 .elementor-element.elementor-element-cf41dd2 > .elementor-widget-container{margin:14px 0px 15px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-cf41dd2{text-align:start;}.elementor-851 .elementor-element.elementor-element-cf41dd2 img{width:410px;max-width:410px;height:130px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-faad5e4 > .elementor-element-populated{margin:25px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-851 .elementor-element.elementor-element-e5e497b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-e5e497b img{width:410px;height:421px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-d301267 > .elementor-container{min-height:0px;}.elementor-851 .elementor-element.elementor-element-d301267{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:6;}.elementor-851 .elementor-element.elementor-element-c108329:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-851 .elementor-element.elementor-element-c108329 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-851 .elementor-element.elementor-element-c108329 > .elementor-element-populated{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:7px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-c108329 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-851 .elementor-element.elementor-element-c108329{z-index:5;}.elementor-851 .elementor-element.elementor-element-2b46287 > .elementor-widget-container{margin:0px 0px 0px 10px;padding:10px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-2b46287 .elementor-heading-title{font-family:"Barlow Semi Condensed", Sans-serif;font-size:32px;font-weight:600;letter-spacing:-1px;color:#292929;}.elementor-851 .elementor-element.elementor-element-1f5f09e{--divider-border-style:solid;--divider-color:#C2C2C2;--divider-border-width:1px;}.elementor-851 .elementor-element.elementor-element-1f5f09e > .elementor-widget-container{margin:-13px 0px -8px 0px;}.elementor-851 .elementor-element.elementor-element-1f5f09e .elementor-divider-separator{width:94%;margin:0 auto;margin-center:0;}.elementor-851 .elementor-element.elementor-element-1f5f09e .elementor-divider{text-align:center;}.elementor-851 .elementor-element.elementor-element-dcbaadd{--grid-row-gap:6px;--grid-column-gap:4px;}.elementor-851 .elementor-element.elementor-element-dcbaadd > .elementor-widget-container{margin:-18px 0px 0px 0px;padding:0px 0px 20px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-dcbaadd .elementor-post{border-radius:0px;padding:0px 0px 0px 6px;}.elementor-851 .elementor-element.elementor-element-dcbaadd .elementor-post__text{padding:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-dcbaadd .elementor-post__title, .elementor-851 .elementor-element.elementor-element-dcbaadd .elementor-post__title a{font-size:18px;}.elementor-851 .elementor-element.elementor-element-dcbaadd .elementor-post__title{margin-bottom:0px;}.elementor-851 .elementor-element.elementor-element-bb4b061 > .elementor-widget-container{margin:20px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-bb4b061 img{width:410px;max-width:410px;height:130px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-5bd746e > .elementor-container{max-width:500px;}.elementor-851 .elementor-element.elementor-element-5bd746e{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);margin-top:10px;margin-bottom:0px;padding:0px 10px 30px 10px;}.elementor-851 .elementor-element.elementor-element-eae7151:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-851 .elementor-element.elementor-element-eae7151 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B5998;}.elementor-851 .elementor-element.elementor-element-eae7151 > .elementor-element-populated{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-eae7151 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-851 .elementor-element.elementor-element-cb0d28f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-cb0d28f{text-align:center;}.elementor-851 .elementor-element.elementor-element-cb0d28f .elementor-heading-title{font-family:"Barlow Semi Condensed", Sans-serif;font-size:28px;font-weight:600;line-height:45px;letter-spacing:-1px;text-shadow:0px 0px 0px rgba(0,0,0,0.3);color:#FFFFFF;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-7885856.elementor-social-icon{background-color:#2595C400;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-7885856.elementor-social-icon i{color:#808080;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-7885856.elementor-social-icon svg{fill:#808080;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-5ec626a.elementor-social-icon{background-color:#FFFFFF;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-5ec626a.elementor-social-icon i{color:#808080;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-5ec626a.elementor-social-icon svg{fill:#808080;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-1c6d745.elementor-social-icon{background-color:#FFFFFF;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-1c6d745.elementor-social-icon i{color:#808080;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-1c6d745.elementor-social-icon svg{fill:#808080;}.elementor-851 .elementor-element.elementor-element-bfc8e53{--grid-template-columns:repeat(3, auto);--icon-size:35px;--grid-column-gap:30px;--grid-row-gap:0px;}.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-widget-container{text-align:center;}.elementor-851 .elementor-element.elementor-element-bfc8e53 > .elementor-widget-container{background-color:#FFFFFF;margin:-20px 0px 0px 0px;padding:0px 0px 3px 0px;border-radius:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.16);}.elementor-851 .elementor-element.elementor-element-f29902a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-f29902a img{width:410px;max-width:410px;height:130px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-34ee566 > .elementor-widget-container{background-color:#3A3A3A;padding:20px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:14px;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-14px;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-851 .elementor-element.elementor-element-34ee566 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-851 .elementor-element.elementor-element-34ee566 .elementor-labels-inline .elementor-field-group > label{padding-left:9px;}body:not(.rtl) .elementor-851 .elementor-element.elementor-element-34ee566 .elementor-labels-inline .elementor-field-group > label{padding-right:9px;}body .elementor-851 .elementor-element.elementor-element-34ee566 .elementor-labels-above .elementor-field-group > label{padding-bottom:9px;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-field-type-html{padding-bottom:7px;letter-spacing:-1px;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-button{font-weight:bold;line-height:1.22px;border-radius:0px 0px 0px 0px;}.elementor-851 .elementor-element.elementor-element-34ee566 .e-form__buttons__wrapper__button-next{background-color:#FF4F30;color:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-button[type="submit"]{background-color:#FF4F30;color:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566 .e-form__buttons__wrapper__button-previous{background-color:#4D4D4D;color:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-851 .elementor-element.elementor-element-34ee566{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#FFFFFF;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:0px;--e-form-steps-divider-gap:10px;}.elementor-851 .elementor-element.elementor-element-2aaf740 > .elementor-widget-container{margin:14px 0px 15px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-851 .elementor-element.elementor-element-2aaf740 img{width:410px;max-width:410px;height:130px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}@media(max-width:767px){.elementor-851 .elementor-element.elementor-element-6ad9995 > .elementor-container{max-width:500px;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-851 .elementor-element.elementor-element-12f07f0:after{content:"0.5";}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__thumbnail__link{width:100%;}.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__title, .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__title a{font-size:20px;}}/* Start custom CSS for archive-posts, class: .elementor-element-12f07f0 */.elementor-851 .elementor-element.elementor-element-12f07f0 >div >div div>  .elementor-post-avatar:before{
   content:url('/news/wp-content/uploads/2022/03/ico-message-1.svg'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    z-index:5; /*a number that's more than the modal box*/
    left:4px;
    position: absolute;
    transform: scale(0.7);
    top: 3px;
}

.elementor-851 .elementor-element.elementor-element-12f07f0 >div >div div>  .elementor-post-avatar{
    position: absolute;
    top: 0;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
    background: rgba(44, 44, 44, 0.63);
    color: #fff;
    padding: 0.6em 1em 0.6em 3.2em;
    line-height: 1;
    font-weight: 500;
    float: right;
    border-bottom-left-radius:12px;
    right: 0px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    opacity: 1!important;
    letter-spacing: normal;
    text-transform:lowercase;
}


.elementor-851 .elementor-element.elementor-element-12f07f0 >div >div div> .elementor-post__badge
{
   
     background-color: white;
    color:black;
    bottom: 0px!important;
    top:auto;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: right;
  color: #4d4d4d;
    text-transform: capitalize!important;


    
}
.elementor-851 .elementor-element.elementor-element-12f07f0  article:nth-child(3)::after {
  color: lime;
  content:"";
}

@media only screen and (max-width: 600px) {
    
    .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post-avatar{
        display:none;
    }
    
   .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__title a{
       color:#696969;
   }
 .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__card
 { 
     flex-direction:row;
     
     
 }
 
 .elementor-851 .elementor-element.elementor-element-12f07f0 article{
     min-height:120px!important;
 }
 .elementor-851 .elementor-element.elementor-element-12f07f0 >div >div div>  .elementor-post-avatar > img{
   height:16px!important;
   
  
    
}
.elementor-posts-container.elementor-has-item-ratio .elementor-post__thumbnail img {
  height:100%!important;
  /*  top: calc(100% + 1px)!important;*/

}
 
 .elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-post__thumbnail{
     overflow:inherit;
     width:100%!important;
     height:100%!important;
 }
 
 .Mread .elementor-post__badge{
     color:#4d4d4d!important;
      margin-right: 20px!important;
 }
 .Mread .elementor-post__text
  {
    padding-bottom:25px!important;
      
 }
 .Mread .elementor-post__thumbnail__link {
   
     margin-bottom:0px!important;
 }
 
 .Mread .elementor-post__text{
     width:50%;
 }
 
 .Mread  .elementor-post__meta-data{
     position: absolute;
    bottom: 0px;
    padding: 3px 0px!important;
    margin-left: 50%;
 }
 
 .Mread img{
     width:100%!important;
 }
 
 .elementor-851 .elementor-element.elementor-element-12f07f0 >div >div div> .elementor-post__badge{
     z-index:1;
     width: 60px;
     right: 3px;
     text-align:right;
     background-color: white;
     color:black;
     bottom: 0px!important;
     top:auto;
     font-family: Roboto;
     font-size: 14px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     padding:0px;
     margin-left:5px;
}
 
}

.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination .page-numbers.current{
    color: #ff4f30;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-2eb0129 */.elementor-851 .elementor-element.elementor-element-2eb0129 >div h5{
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #292929;
}

.elementor-851 .elementor-element.elementor-element-2eb0129 >div a{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:15px!important;
  line-height: 1.33;
  text-align: left;
  color: #06c;
}

.elementor-851 .elementor-element.elementor-element-2eb0129 >div a::before{
  color:#0066cc!important;
  content: "•";
  font-size:20px;
  text-align: right;
  font-weight: 300;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: right;
  color: #292929;
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-23abd81 */.elementor-851 .elementor-element.elementor-element-23abd81 form{
    margin-left: 20px;
    margin-right: 20px;
}

.elementor-851 .elementor-element.elementor-element-23abd81 .elementor-button[type="submit"]:hover{
    background-color: #ff6246;
}

body .elementor-851 .elementor-element.elementor-element-23abd81 .elementor-labels-above .elementor-field-group > label {
      width: 384px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-99fcebb */.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-7885856.elementor-social-icon i:hover{
    color: #3b5998;
    transition: transform .2s;
    transform: scale(1.25);
}

.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-5ec626a.elementor-social-icon i:hover{
    color: #941fa1;
    transition: transform .2s;
    transform: scale(1.25);
}

.elementor-851 .elementor-element.elementor-element-99fcebb .elementor-repeater-item-1c6d745.elementor-social-icon i:hover{
    color: #50abf1;
    transition: transform .2s;
    transform: scale(1.25);
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-cf41dd2 */background-color:black;/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-dcbaadd */.elementor-851 .elementor-element.elementor-element-dcbaadd >div h5{
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #292929;
}

.elementor-851 .elementor-element.elementor-element-dcbaadd >div a{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:15px!important;
  line-height: 1.33;
  text-align: left;
  color: #06c;
}

.elementor-851 .elementor-element.elementor-element-dcbaadd >div a::before{
  color:#0066cc!important;
  content: "•";
  font-size:20px;
  text-align: right;
  font-weight: 300;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: right;
  color: #292929;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-bfc8e53 */.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-7885856.elementor-social-icon i:hover{
    color: #3b5998;
    transition: transform .2s;
    transform: scale(1.25);
}

.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-5ec626a.elementor-social-icon i:hover{
    color: #941fa1;
    transition: transform .2s;
    transform: scale(1.25);
}

.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-1c6d745.elementor-social-icon i:hover{
    color: #50abf1;
    transition: transform .2s;
    transform: scale(1.25);
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-34ee566 */.elementor-851 .elementor-element.elementor-element-34ee566 form {
    margin-left: 20px;
    margin-right: 20px;
}

.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-button[type="submit"]:hover{
    background-color: #ff6246;
}

.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-field-type-html h2{
    margin-left: 35px
}

body .elementor-851 .elementor-element.elementor-element-34ee566 .elementor-labels-above .elementor-field-group > label {
      width: 384px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-2aaf740 */background-color:black;/* End custom CSS */