.elementor-8870 .elementor-element.elementor-element-219fbba > .elementor-element-populated{margin:29px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-8870 .elementor-element.elementor-element-7f580c5 > .elementor-widget-container{margin:15px 0px 0px 0px;}.elementor-8870 .elementor-element.elementor-element-7f580c5 .elementor-heading-title{font-family:"Barlow Condensed", Sans-serif;font-size:32px;font-weight:600;}.elementor-8870 .elementor-element.elementor-element-4453df3{--grid-row-gap:10px;--grid-column-gap:10px;}.elementor-8870 .elementor-element.elementor-element-4453df3 > .elementor-widget-container{margin:-7px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.51 * 100% );}.elementor-8870 .elementor-element.elementor-element-4453df3:after{content:"0.51";}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__thumbnail__link{width:100%;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__card{border-width:0px;padding-top:0px;padding-bottom:0px;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__text{padding:0 11px;margin-top:0px;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__meta-data{padding:10px 11px;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__avatar{padding-right:11px;padding-left:11px;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__card .elementor-post__meta-data{border-top-color:#FFFFFF;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__badge{right:0;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__card .elementor-post__badge{border-radius:12px;margin:0px;font-weight:normal;text-transform:uppercase;font-style:normal;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__title, .elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__title a{font-family:"Barlow Condensed", Sans-serif;font-size:20px;font-weight:600;line-height:1.2em;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__title{margin-bottom:0px;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-pagination{text-align:center;font-family:"Roboto", Sans-serif;font-size:18px;line-height:100px;word-spacing:10px;margin-top:13px;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-pagination .page-numbers:not(.dots){color:#858585;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-pagination a.page-numbers:hover{color:#575757FC;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-pagination .page-numbers.current{color:#FFFFFF;}body:not(.rtl) .elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 9px/2 );}body:not(.rtl) .elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 9px/2 );}body.rtl .elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 9px/2 );}body.rtl .elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 9px/2 );}.elementor-8870 .elementor-element.elementor-element-74d50d4 > .elementor-widget-container{margin:30px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-8870 .elementor-element.elementor-element-74d50d4 img{height:80px;}.elementor-8870 .elementor-element.elementor-element-e9c3072 > .elementor-widget-container{margin:30px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-8870 .elementor-element.elementor-element-e9c3072 img{height:80px;}.elementor-8870 .elementor-element.elementor-element-8913cf8 > .elementor-widget-container{margin:30px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-8870 .elementor-element.elementor-element-8913cf8 img{height:80px;}.elementor-8870 .elementor-element.elementor-element-3c20b2f > .elementor-widget-container{margin:30px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-8870 .elementor-element.elementor-element-93a3e79 > .elementor-widget-container{margin:30px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-8870 .elementor-element.elementor-element-51c0df5 > .elementor-widget-container{margin:30px 0px 20px 0px;padding:0px 0px 0px 0px;}@media(max-width:767px){.elementor-8870 .elementor-element.elementor-element-80e8944{padding:0px 10px 0px 10px;}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-8870 .elementor-element.elementor-element-4453df3:after{content:"0.5";}.elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__thumbnail__link{width:100%;}}/* Start custom CSS for posts, class: .elementor-element-4453df3 */.elementor-8870 .elementor-element.elementor-element-4453df3 >div >div div>  .elementor-post-avatar:before{
content:url('/wp-content/uploads/2022/03/ico-message-1.svg'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
  z-index:5; /*a number that's more than the modal box*/
  left:3px;
  top:2px;
  transform: scale(0.6);
  opacity: 0.8;
  position: absolute;
}

.elementor-8870 .elementor-element.elementor-element-4453df3 >div >div div>  .elementor-post-avatar{
  position: absolute;
  top: 0;
  background: rgba(44, 44, 44, 0.63);
  color: #dbdfe2;
  font-size: 10px!important; 
  padding: 0.6em 1em 0.6em 3em;
  line-height: 1;
  font-weight: 500;
  float: right;
  border-bottom-left-radius:12px;
  right: 0px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  opacity: 1!important;
  letter-spacing: normal;
  text-transform: lowercase;
}

.elementor-8870 .elementor-element.elementor-element-4453df3 >div >div div> .elementor-post__badge{
  background-color: white;
  text-transform: capitalize!important;
  color: #4d4d4d;
  bottom: 0px!important;
  top:auto;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  padding-left:0px!important;
}

.elementor-8870 .elementor-element.elementor-element-4453df3  article:nth-child(3)::after {
  color: lime;
  content:"";
}

@media only screen and (max-width: 600px) {
    
    .elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post-avatar{
        display:none;
    }
   
    .elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__title a{
        color:#696969;
    }
  
    .elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__card{ 
       flex-direction:row;
    }
 
    .elementor-8870 .elementor-element.elementor-element-4453df3 article{
       min-height:120px!important;
    }
    
    .elementor-8870 .elementor-element.elementor-element-4453df3 >div >div div>  .elementor-post-avatar > img{
       height:16px!important;
}

.elementor-posts-container.elementor-has-item-ratio .elementor-post__thumbnail img {
  height:100%!important;
}
 
 .elementor-8870 .elementor-element.elementor-element-4453df3 .elementor-post__thumbnail{
     overflow:inherit;
     width:100%!important;
     height:100%!important;
 }
 
 .Mread .elementor-post__badge{
     color:#4d4d4d!important;
     margin-right: 25px!important;
 }
 .Mread .elementor-post__text
  {
     padding-bottom:30px!important;
      
 }
 .Mread .elementor-post__thumbnail__link {
   
     margin-bottom:0px!important;
 }
 
 .Mread .elementor-post__text{
     width:50%;
 }
 
 
 .Mread  .elementor-post__meta-data{
     position: absolute;
     bottom: 0px;
     padding: 3px 0px!important;
     margin-left: 50%;
 }
 
 .Mread img{
     width:100%!important;
 }
 
 .elementor-8870 .elementor-element.elementor-element-4453df3 >div >div div> .elementor-post__badge
{
   z-index:1;
   width: 65px;
   right: 3px;
   text-align:right;
   background-color: white;
   color:black;
   bottom: 0px!important;
   top:auto;
   font-family: Roboto;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   padding:0px;
   margin-left:5px;
    
   }
 
}/* End custom CSS */