.elementor-105 .elementor-element.elementor-element-f142529 .elementor-nav-menu .elementor-item{font-family:"Roboto", Sans-serif;font-weight:400;text-transform:none;font-style:normal;}.elementor-105 .elementor-element.elementor-element-f142529 .elementor-nav-menu--main .elementor-item{color:#4D4D4D;fill:#4D4D4D;}.elementor-105 .elementor-element.elementor-element-582cf31 > .elementor-container{max-width:1270px;}.elementor-105 .elementor-element.elementor-element-582cf31{margin-top:20px;margin-bottom:0px;}.elementor-105 .elementor-element.elementor-element-88f6b57 > .elementor-element-populated{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-f7dbcbd .vl-post-thumb .vl-thumb-container{padding-bottom:50%;}.elementor-105 .elementor-element.elementor-element-f7dbcbd .vp-block-title span.vl-title, .elementor-105 .elementor-element.elementor-element-f7dbcbd .vl-block-title span.vl-title{line-height:1.17px;}.elementor-105 .elementor-element.elementor-element-f7dbcbd .vl-block-title, .elementor-105 .elementor-element.elementor-element-f7dbcbd .vp-block-title{margin:0px 0 0px 0;}.elementor-105 .elementor-element.elementor-element-f7dbcbd .vl-post-title{font-family:"Barlow", Sans-serif;font-size:36px;font-weight:600;text-transform:none;font-style:normal;text-decoration:none;}.elementor-105 .elementor-element.elementor-element-f7dbcbd{width:100%;max-width:100%;}.elementor-105 .elementor-element.elementor-element-f7dbcbd > .elementor-widget-container{box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0);}.elementor-105 .elementor-element.elementor-element-020ec4c{margin-top:0px;margin-bottom:20px;}.elementor-105 .elementor-element.elementor-element-2d280cb img{width:280px;height:120px;}.elementor-105 .elementor-element.elementor-element-9c6ddd4 img{width:280px;height:120px;}.elementor-105 .elementor-element.elementor-element-4ef7606 img{width:280%;height:120px;}.elementor-105 .elementor-element.elementor-element-207a147 img{width:410px;height:270px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-207a147 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-9d33761{--grid-column-gap:10px;--grid-row-gap:10px;}.elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__card{border-width:0px;padding-top:0px;padding-bottom:0px;}.elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__text{padding:0 7px;margin-top:2px;}.elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__meta-data{padding:10px 7px;color:#B3B3B3;font-family:"Roboto", Sans-serif;font-size:16px;}.elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__avatar{padding-right:7px;padding-left:7px;}.elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__card .elementor-post__meta-data{border-top-color:#FFFFFF;}.elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__badge{right:0;}.elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__card .elementor-post__badge{margin:0px;font-weight:normal;text-transform:capitalize;font-style:normal;}.elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__title, .elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__title a{font-family:"Barlow Semi Condensed", Sans-serif;font-size:23px;font-weight:600;line-height:1.13em;}.elementor-105 .elementor-element.elementor-element-9d33761 .elementor-post__title{margin-bottom:7px;}.elementor-105 .elementor-element.elementor-element-9d33761 > .elementor-widget-container{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-070b84b img{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-070b84b > .elementor-widget-container{margin:30px 0px 24px 0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-4dac8f2{text-align:left;}.elementor-105 .elementor-element.elementor-element-4dac8f2 img{width:410px;max-width:410px;height:130px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-4dac8f2 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-9ac0a10 .elementor-heading-title{color:#292929;font-family:"Barlow Semi Condensed", Sans-serif;font-size:26px;font-weight:600;line-height:39px;letter-spacing:-1px;}.elementor-105 .elementor-element.elementor-element-9ac0a10 > .elementor-widget-container{margin:0px 0px 0px 10px;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.51 * 100% );}.elementor-105 .elementor-element.elementor-element-f42f809:after{content:"0.51";}.elementor-105 .elementor-element.elementor-element-f42f809{--grid-column-gap:10px;--grid-row-gap:10px;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__card{border-width:0px;padding-top:0px;padding-bottom:0px;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__text{padding:0 12px;margin-top:0px;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__meta-data{padding:10px 12px;color:#B3B3B300;font-family:"Roboto", Sans-serif;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__avatar{padding-right:12px;padding-left:12px;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__card .elementor-post__meta-data{border-top-color:#FFFFFF;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__badge{right:0;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__card .elementor-post__badge{margin:0px;font-weight:normal;text-transform:uppercase;font-style:normal;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__title, .elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__title a{font-family:"Barlow Semi Condensed", Sans-serif;font-size:17px;font-weight:600;line-height:1.2em;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__title{margin-bottom:0px;}.elementor-105 .elementor-element.elementor-element-f42f809 > .elementor-widget-container{box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0);}.elementor-105 .elementor-element.elementor-element-4c59ab8{text-align:left;}.elementor-105 .elementor-element.elementor-element-4c59ab8 img{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-4c59ab8 > .elementor-widget-container{margin:30px 0px 24px 0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-d4affbc .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-105 .elementor-element.elementor-element-d4affbc .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-105 .elementor-element.elementor-element-d4affbc .elementor-button{font-family:"Roboto", Sans-serif;font-size:15px;font-weight:500;background-color:#FF4F30;border-style:solid;border-width:1px 1px 1px 1px;border-color:#FFFFFF;border-radius:0px 0px 0px 0px;padding:10px 80px 10px 80px;}.elementor-105 .elementor-element.elementor-element-d4affbc > .elementor-widget-container{margin:0px 0px 0px 0px;border-style:solid;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-6255b61 img{width:410px;height:421px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-6255b61 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-a9b327a > .elementor-container{max-width:500px;}.elementor-105 .elementor-element.elementor-element-a9b327a{padding:0px 8px 0px 12px;}.elementor-105 .elementor-element.elementor-element-a1b6548:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-105 .elementor-element.elementor-element-a1b6548 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-105 .elementor-element.elementor-element-a1b6548 > .elementor-element-populated, .elementor-105 .elementor-element.elementor-element-a1b6548 > .elementor-element-populated > .elementor-background-overlay, .elementor-105 .elementor-element.elementor-element-a1b6548 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-a1b6548 > .elementor-element-populated{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:10px 0px 30px -2px;--e-column-margin-right:0px;--e-column-margin-left:-2px;}.elementor-105 .elementor-element.elementor-element-a1b6548 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-105 .elementor-element.elementor-element-a1b6548 > .elementor-element-populated > .elementor-widget-wrap{padding:17px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-c093fae .elementor-heading-title{color:#292929;font-family:"Barlow Semi Condensed", Sans-serif;font-size:32px;font-weight:600;letter-spacing:-1px;}.elementor-105 .elementor-element.elementor-element-c093fae > .elementor-widget-container{margin:0px 0px 0px 10px;padding:3px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-ce95595{--divider-border-style:solid;--divider-color:#C2C2C2;--divider-border-width:1px;}.elementor-105 .elementor-element.elementor-element-ce95595 .elementor-divider-separator{width:94%;margin:0 auto;margin-center:0;}.elementor-105 .elementor-element.elementor-element-ce95595 .elementor-divider{text-align:center;}.elementor-105 .elementor-element.elementor-element-ce95595 > .elementor-widget-container{margin:-13px 0px -8px 0px;}.elementor-105 .elementor-element.elementor-element-6fd8dec{--grid-column-gap:4px;--grid-row-gap:6px;}.elementor-105 .elementor-element.elementor-element-6fd8dec .elementor-post{border-radius:0px;padding:0px 0px 0px 6px;}.elementor-105 .elementor-element.elementor-element-6fd8dec .elementor-post__text{padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-6fd8dec .elementor-post__title{margin-bottom:0px;}.elementor-105 .elementor-element.elementor-element-6fd8dec > .elementor-widget-container{margin:-18px 0px 0px 0px;padding:0px 0px 20px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-9a60c06 img{width:410px;max-width:410px;height:130px;object-fit:fill;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-9a60c06 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-af1c09a > .elementor-container{max-width:500px;}.elementor-105 .elementor-element.elementor-element-af1c09a{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);margin-top:10px;margin-bottom:30px;padding:0px 10px 0px 10px;}.elementor-105 .elementor-element.elementor-element-d70eec1:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-105 .elementor-element.elementor-element-d70eec1 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B5998;}.elementor-105 .elementor-element.elementor-element-d70eec1 > .elementor-element-populated{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-105 .elementor-element.elementor-element-d70eec1 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-105 .elementor-element.elementor-element-d70eec1 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-31212f8{text-align:center;}.elementor-105 .elementor-element.elementor-element-31212f8 .elementor-heading-title{color:#FFFFFF;font-family:"Barlow Semi Condensed", Sans-serif;font-size:28px;font-weight:600;line-height:45px;letter-spacing:-1px;text-shadow:0px 0px 0px rgba(0,0,0,0.3);}.elementor-105 .elementor-element.elementor-element-31212f8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-7885856.elementor-social-icon{background-color:#2595C400;}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-7885856.elementor-social-icon i{color:#808080;}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-7885856.elementor-social-icon svg{fill:#808080;}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-5ec626a.elementor-social-icon{background-color:#FFFFFF;}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-5ec626a.elementor-social-icon i{color:#808080;}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-5ec626a.elementor-social-icon svg{fill:#808080;}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-1c6d745.elementor-social-icon{background-color:#FFFFFF;}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-1c6d745.elementor-social-icon i{color:#808080;}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-1c6d745.elementor-social-icon svg{fill:#808080;}.elementor-105 .elementor-element.elementor-element-fc434fc{--grid-template-columns:repeat(3, auto);--icon-size:35px;--grid-column-gap:30px;--grid-row-gap:0px;}.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-widget-container{text-align:center;}.elementor-105 .elementor-element.elementor-element-fc434fc > .elementor-widget-container{margin:-20px 0px 0px 0px;padding:0px 0px 3px 0px;background-color:#FFFFFF;border-radius:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.16);}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:14px;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-14px;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-labels-inline .elementor-field-group > label{padding-left:9px;}body:not(.rtl) .elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-labels-inline .elementor-field-group > label{padding-right:9px;}body .elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-labels-above .elementor-field-group > label{padding-bottom:9px;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-field-type-html{padding-bottom:7px;letter-spacing:-1px;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-button{font-weight:bold;line-height:1.22px;border-radius:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-ec87f79 .e-form__buttons__wrapper__button-next{background-color:#FF4F30;color:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-button[type="submit"]{background-color:#FF4F30;color:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79 .e-form__buttons__wrapper__button-previous{background-color:#4D4D4D;color:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-105 .elementor-element.elementor-element-ec87f79{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#FFFFFF;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:0px;--e-form-steps-divider-gap:10px;}.elementor-105 .elementor-element.elementor-element-ec87f79 > .elementor-widget-container{padding:20px 0px 20px 0px;background-color:#3A3A3A;box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);}.elementor-105 .elementor-element.elementor-element-095f5ce{margin-top:20px;margin-bottom:20px;}@media(max-width:767px){.elementor-105 .elementor-element.elementor-element-f142529 .elementor-nav-menu .elementor-item{font-size:16px;}.elementor-105 .elementor-element.elementor-element-f142529 .e--pointer-framed .elementor-item:before{border-width:0px;}.elementor-105 .elementor-element.elementor-element-f142529 .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 0px 0px;}.elementor-105 .elementor-element.elementor-element-f142529 .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:0px 0px 0 0;}.elementor-105 .elementor-element.elementor-element-f142529 .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:0px 0 0 0px;}.elementor-105 .elementor-element.elementor-element-f142529 .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 0px 0px 0;}.elementor-105 .elementor-element.elementor-element-f142529 .e--pointer-underline .elementor-item:after,
					 .elementor-105 .elementor-element.elementor-element-f142529 .e--pointer-overline .elementor-item:before,
					 .elementor-105 .elementor-element.elementor-element-f142529 .e--pointer-double-line .elementor-item:before,
					 .elementor-105 .elementor-element.elementor-element-f142529 .e--pointer-double-line .elementor-item:after{height:0px;}.elementor-105 .elementor-element.elementor-element-f142529 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 0px 15px 0px;}.elementor-105 .elementor-element.elementor-element-582cf31{margin-top:0px;margin-bottom:0px;}.elementor-105 .elementor-element.elementor-element-f7dbcbd .vl-post-title{font-size:32px;line-height:1.19em;letter-spacing:-0.1px;}.elementor-105 .elementor-element.elementor-element-f7dbcbd > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-070b84b img{width:100%;}.elementor-105 .elementor-element.elementor-element-4dac8f2 img{width:100%;}.elementor-105 .elementor-element.elementor-element-f42f809{--grid-column-gap:16px;--grid-row-gap:16px;}.elementor-105 .elementor-element.elementor-element-f42f809.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:0px;}.elementor-105 .elementor-element.elementor-element-f42f809.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:0px;}.elementor-105 .elementor-element.elementor-element-f42f809.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:0px;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__title{margin-bottom:9px;}.elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__meta-data{font-size:14px;line-height:1.36em;}.elementor-105 .elementor-element.elementor-element-4c59ab8 img{width:100%;}.elementor-105 .elementor-element.elementor-element-a9b327a{padding:0px 8px 0px 8px;}.elementor-105 .elementor-element.elementor-element-6fd8dec .elementor-post__title, .elementor-105 .elementor-element.elementor-element-6fd8dec .elementor-post__title a{letter-spacing:-0.5px;}.elementor-105 .elementor-element.elementor-element-9a60c06 img{width:100%;}.elementor-105 .elementor-element.elementor-element-af1c09a{padding:0px 5px 0px 5px;}.elementor-105 .elementor-element.elementor-element-ec87f79 > .elementor-widget-container{margin:10px 0px 0px 0px;padding:20px 0px 20px 0px;}}/* Start custom CSS for nav-menu, class: .elementor-element-f142529 */.elementor-105 .elementor-element.elementor-element-f142529 .menu-item ._svg{
   width:auto;
}

.elementor-105 .elementor-element.elementor-element-f142529 img{
    height:30px;
}

.elementor-105 .elementor-element.elementor-element-f142529    .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:nth-last-child(1):before {
    content:"";
    height: 28px;
    border-left: var(--e-nav-menu-divider-width,2px) var(--e-nav-menu-divider-style,solid) var(--e-nav-menu-divider-color,#9c9c9c);
    border-bottom-color: var(--e-nav-menu-divider-color,#000);
    border-right-color: var(--e-nav-menu-divider-color,#000);
    border-top-color: var(--e-nav-menu-divider-color,#000);
    -ms-flex-item-align: center;
    align-self: center;
}

.elementor-105 .elementor-element.elementor-element-f142529    .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:nth-last-child(2):before {
    content:"";
    height: 28px;
    border-left: var(--e-nav-menu-divider-width,2px) var(--e-nav-menu-divider-style,solid) var(--e-nav-menu-divider-color,#9c9c9c);
    border-bottom-color: var(--e-nav-menu-divider-color,#000);
    border-right-color: var(--e-nav-menu-divider-color,#000);
    border-top-color: var(--e-nav-menu-divider-color,#000);
    -ms-flex-item-align: center;
    align-self: center;
}

.elementor-105 .elementor-element.elementor-element-f142529 a {
    padding: 0px 10px!important;}
@media screen and (max-width: 768px) {
.mickmenu .elementor-nav-menu--layout-horizontal .elementor-nav-menu {
display: flex;
flex-wrap: nowrap;
white-space: nowrap;
overflow-x: auto;
-webkit- -scrolling: touch;
-ms-overflow-style: -ms-autohiding-scrollbar;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-9f433dd */.elementor-105 .elementor-element.elementor-element-9f433dd {
    overflow-x:hidden;
    overflow-y:hidden;
}/* End custom CSS */
/* Start custom CSS for vp-single-news-two, class: .elementor-element-f7dbcbd */.elementor-105 .elementor-element.elementor-element-f7dbcbd >div div> div .vl-post-comment-count{
    position: absolute;
    bottom:389px!important;
    right:1px!important;
    background-color: #000; 
    padding-left: 40px;
    padding-right: 2px;
    font-family: Roboto;
    padding-top:10px;
    padding-bottom:8px;
    background: rgba(44, 44, 44, 0.63);
    font-size: 12px;
    border-bottom-left-radius: 12px;
}

.vl-post-comment-count::after {
    content: " comments";
    color: white;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    opacity: 1!important;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    padding-right: 10px;
}

.vl-post-comment-count::before {
content:url('/news/wp-content/uploads/2022/03/ico-message-1.svg'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
  z-index:5; /*a number that's more than the modal box*/
  left:12px;
  top:9px;
  height:12px;
  transform: scale(0.7);
  position: absolute;
}

@media only screen and (max-width: 600px) {
 .test .vl-thumb-container{
   height:495px!important;
   border-bottom-right-radius: 150px;
 }
 .test  img{
   object-fit: fill;
  }
 .vl-thumb-container{
   height:400px;
  }
  
  .elementor-105 .elementor-element.elementor-element-f7dbcbd >div div> div .vl-post-comment-count{
    bottom:464px!important;
  }
}

.elementor-105 .elementor-element.elementor-element-f7dbcbd .vl-post-title{
    font-size: 26px;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-9d33761 */.elementor-105 .elementor-element.elementor-element-9d33761 >div >div div>  .elementor-post-avatar{
  position: absolute;
  top: 0;
  padding-top:3px;
  padding-bottom:5px;
  background: rgba(44, 44, 44, 0.63);
  padding: 0.6em 1em  0.6em 3em;
  line-height: 1;
  color: #dbdfe2;
  font-weight: 500;
  float: right;
  border-bottom-left-radius:12px;
  right: 0px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  opacity: 1!important;
  letter-spacing: normal;
  text-transform: lowercase;
}

.elementor-105 .elementor-element.elementor-element-9d33761 >div >div div>  .elementor-post-avatar:before{
content:url('/news/wp-content/uploads/2022/03/ico-message-1.svg'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
  z-index: 4; /*a number that's more than the modal box*/
  left:3px;
  top:2px;
  transform: scale(0.6);
  position: absolute;
  opacity: 0.8;
}

.elementor-105 .elementor-element.elementor-element-9d33761 >div >div div> .elementor-post__badge{
  background-color: white;
  color:black;
  bottom: 0px!important;
  top:auto;
  font-size: 14px;
  font-weight: 500!important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: right;
  color: #4d4d4d;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-f42f809 */.elementor-105 .elementor-element.elementor-element-f42f809 >div >div div>  .elementor-post-avatar:before{
content:url('/wp-content/uploads/2022/03/ico-message-1.svg'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
  z-index:5; /*a number that's more than the modal box*/
  left:3px;
  top:2px;
  transform: scale(0.6);
  opacity: 0.8;
  position: absolute;
}

.elementor-105 .elementor-element.elementor-element-f42f809 >div >div div>  .elementor-post-avatar{
  position: absolute;
  top: 0;
  background: rgba(44, 44, 44, 0.63);
  color: #dbdfe2;
  font-size: 10px!important; 
  padding: 0.6em 1em 0.6em 3em;
  line-height: 1;
  font-weight: 500;
  float: right;
  border-bottom-left-radius:12px;
  right: 0px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  opacity: 1!important;
  letter-spacing: normal;
  text-transform: lowercase;
}

.elementor-105 .elementor-element.elementor-element-f42f809 >div >div div> .elementor-post__badge{
  background-color: white;
  text-transform: capitalize!important;
  color: #4d4d4d;
  bottom: 0px!important;
  top:auto;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  padding-left:0px!important;
}

.elementor-105 .elementor-element.elementor-element-f42f809  article:nth-child(3)::after {
  color: lime;
  content:"";
}


@media only screen and (max-width: 600px) {
    
    .elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post-avatar{
        display:none;
    }
   
    .elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__title a{
        color:#696969;
    }
  
    .elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__card{ 
       flex-direction:row;
    }
 
   
    
    .elementor-105 .elementor-element.elementor-element-f42f809 >div >div div>  .elementor-post-avatar > img{
       height:16px!important;
}

.elementor-posts-container.elementor-has-item-ratio .elementor-post__thumbnail img {
  height:100%!important;
  /*  top: calc(100% + 1px)!important;*/
}
 
 .elementor-105 .elementor-element.elementor-element-f42f809 .elementor-post__thumbnail{
     overflow:inherit;
     width:100%!important;
     height:100%!important;
 }
 
 .Mread .elementor-post__badge{
     color:#4d4d4d!important;
     margin-right: 25px!important;
 }
 .Mread .elementor-post__text
  {
     padding-bottom:30px!important;
      
 }
 .Mread .elementor-post__thumbnail__link {
   
     margin-bottom:0px!important;
 }
 
 .Mread .elementor-post__text{
     width:50%;
 }
 
 
 .Mread  .elementor-post__meta-data{
     position: absolute;
     bottom: 0px;
     padding: 3px 0px!important;
     margin-left: 50%;
 }
 
 .Mread img{
     width:100%!important;
     height:220px!important;
 }
 
 .elementor-105 .elementor-element.elementor-element-f42f809 >div >div div> .elementor-post__badge
{
   z-index:1;
   width: 65px;
   right: 3px;
   text-align:right;
   background-color: white;
   color:black;
   bottom: 0px!important;
   top:auto;
   font-family: Roboto;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   padding:0px;
   margin-left:5px;
    
   }
 
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-c093fae */.elementor-105 .elementor-element.elementor-element-c093fae{
    font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #292929;}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-6fd8dec */.elementor-105 .elementor-element.elementor-element-6fd8dec >div h5{
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #292929;
}

.elementor-105 .elementor-element.elementor-element-6fd8dec >div a::before{
  color:#0066cc!important;
  content: "•";
  font-size:20px;
  text-align: right;
  font-weight: 300;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: right;
  color: #292929;
  margin-left: px;
}

.elementor-105 .elementor-element.elementor-element-6fd8dec >div a{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:15px!important;
  line-height: 1.33;
  text-align: left;
  color: #06c;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-fc434fc */.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-7885856.elementor-social-icon i:hover{
    color: #3b5998;
    transition: transform .2s;
    transform: scale(1.25);
}

.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-5ec626a.elementor-social-icon i:hover{
    color: #941fa1;
    transition: transform .2s;
    transform: scale(1.25);
}

.elementor-105 .elementor-element.elementor-element-fc434fc .elementor-repeater-item-1c6d745.elementor-social-icon i:hover{
    color: #50abf1;
    transition: transform .2s;
    transform: scale(1.25);
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-ec87f79 */.elementor-105 .elementor-element.elementor-element-ec87f79 form{
    margin-left: 20px;
    margin-right: 20px;
}

.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-button[type="submit"]:hover{
    background-color: #ff6246;
}

.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-field-type-html h2{
    margin-left: 35px
}

body .elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-labels-above .elementor-field-group > label {
      width: 384px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
}/* End custom CSS */