.elementor-17744 .elementor-element.elementor-element-21143181{margin-top:35px;margin-bottom:0px;}.elementor-17744 .elementor-element.elementor-element-6bba1bdb > .elementor-element-populated{margin:30px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.51 * 100% );}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e:after{content:"0.51";}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e{--grid-column-gap:10px;--grid-row-gap:10px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__card{background-color:#FFFFFF;border-radius:0px;padding-top:0px;padding-bottom:0px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__text{padding:0 8px;margin-top:0px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__meta-data{padding:10px 8px;font-size:12px;text-transform:none;font-style:normal;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__avatar{padding-right:8px;padding-left:8px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__card .elementor-post__meta-data{border-top-color:#FFFFFF;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__badge{right:0;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__card .elementor-post__badge{border-radius:20px;margin:0px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__title, .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__title a{font-size:15px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__title{margin-bottom:15px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-pagination{text-align:center;font-family:"Roboto", Sans-serif;font-size:18px;word-spacing:10px;margin-top:13px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-pagination .page-numbers:not(.dots){color:#858585;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-pagination a.page-numbers:hover{color:#575757FC;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-pagination .page-numbers.current{color:#FFFFFF;}body:not(.rtl) .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 9px/2 );}body:not(.rtl) .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 9px/2 );}body.rtl .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 9px/2 );}body.rtl .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 9px/2 );}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-17744 .elementor-element.elementor-element-7cf7477a > .elementor-widget-container{margin:30px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-17744 .elementor-element.elementor-element-5d194820 > .elementor-widget-container{margin:30px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-17744 .elementor-element.elementor-element-18e7e50d > .elementor-element-populated{margin:25px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-17744 .elementor-element.elementor-element-3299250f > .elementor-container{min-height:0px;}.elementor-17744 .elementor-element.elementor-element-3299250f{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:6;}.elementor-17744 .elementor-element.elementor-element-355f598b:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-17744 .elementor-element.elementor-element-355f598b > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-17744 .elementor-element.elementor-element-355f598b > .elementor-element-populated, .elementor-17744 .elementor-element.elementor-element-355f598b > .elementor-element-populated > .elementor-background-overlay, .elementor-17744 .elementor-element.elementor-element-355f598b > .elementor-background-slideshow{border-radius:20px 20px 20px 20px;}.elementor-17744 .elementor-element.elementor-element-355f598b > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-17744 .elementor-element.elementor-element-355f598b > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-17744 .elementor-element.elementor-element-355f598b > .elementor-element-populated > .elementor-widget-wrap{padding:11px 0px 0px 0px;}.elementor-17744 .elementor-element.elementor-element-355f598b{z-index:5;}.elementor-17744 .elementor-element.elementor-element-1433f534 .elementor-heading-title{color:#292929;font-family:"Barlow Semi Condensed", Sans-serif;font-size:32px;font-weight:600;letter-spacing:-1px;}.elementor-17744 .elementor-element.elementor-element-1433f534 > .elementor-widget-container{margin:0px 0px 0px 010px;padding:10px 0px 0px 0px;}.elementor-17744 .elementor-element.elementor-element-32b7f0fb{--divider-border-style:solid;--divider-color:#C2C2C2;--divider-border-width:1px;}.elementor-17744 .elementor-element.elementor-element-32b7f0fb .elementor-divider-separator{width:94%;margin:0 auto;margin-center:0;}.elementor-17744 .elementor-element.elementor-element-32b7f0fb .elementor-divider{text-align:center;}.elementor-17744 .elementor-element.elementor-element-32b7f0fb > .elementor-widget-container{margin:-13px 0px -8px 0px;}.elementor-17744 .elementor-element.elementor-element-3d79aae9{--grid-column-gap:4px;--grid-row-gap:6px;}.elementor-17744 .elementor-element.elementor-element-3d79aae9 .elementor-post{border-radius:0px;padding:0px 0px 0px 6px;}.elementor-17744 .elementor-element.elementor-element-3d79aae9 .elementor-post__text{padding:0px 0px 0px 0px;}.elementor-17744 .elementor-element.elementor-element-3d79aae9 .elementor-post__title, .elementor-17744 .elementor-element.elementor-element-3d79aae9 .elementor-post__title a{font-size:18px;}.elementor-17744 .elementor-element.elementor-element-3d79aae9 .elementor-post__title{margin-bottom:0px;}.elementor-17744 .elementor-element.elementor-element-3d79aae9 > .elementor-widget-container{margin:-18px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-17744 .elementor-element.elementor-element-a56e884 .elementor-repeater-item-9034fa2 .swiper-slide-bg{background-color:#833ca3;background-image:url(https://mr247bet.com/storage/2022/01/rembrandt-casino-betting-welcome-sport-bonus-promotion-deposit-1.jpg);background-size:cover;}.elementor-17744 .elementor-element.elementor-element-a56e884 .elementor-repeater-item-0ca2ad3 .swiper-slide-bg{background-color:#4054b2;background-image:url(https://mr247bet.com/storage/2022/01/24-bettle-casino-betting-welcome-sport-bonus-promotion-deposit-1.jpg);background-size:cover;}.elementor-17744 .elementor-element.elementor-element-a56e884 .elementor-repeater-item-502e2fa .swiper-slide-bg{background-color:#bbbbbb;background-image:url(https://mr247bet.com/storage/2022/01/b-bets-casino-betting-welcome-sport-bonus-promotion-deposit-1.jpg);background-size:cover;}.elementor-17744 .elementor-element.elementor-element-a56e884 .elementor-repeater-item-572e06a .swiper-slide-bg{background-color:#bbbbbb;background-image:url(https://mr247bet.com/storage/2022/01/sieger-casino-betting-welcome-sport-bonus-promotion-deposit.jpg);background-size:cover;}.elementor-17744 .elementor-element.elementor-element-a56e884 .elementor-repeater-item-0cfd48d .swiper-slide-bg{background-color:#bbbbbb;background-image:url(https://mr247bet.com/storage/2022/01/lucky-bull-casino-betting-welcome-sport-bonus-promotion-deposit.jpg);background-size:cover;}.elementor-17744 .elementor-element.elementor-element-a56e884 .elementor-repeater-item-d3fccb1 .swiper-slide-bg{background-color:#bbbbbb;background-image:url(https://mr247bet.com/storage/2022/01/big-5-casino-betting-welcome-sport-bonus-promotion-deposit.jpg);background-size:cover;}.elementor-17744 .elementor-element.elementor-element-a56e884 .swiper-slide{height:130px;transition-duration:calc(3000ms*1.2);}.elementor-17744 .elementor-element.elementor-element-a56e884 .swiper-slide-contents{max-width:99%;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-17744 .elementor-element.elementor-element-a56e884 .swiper-slide-inner{text-align:center;}.elementor-17744 .elementor-element.elementor-element-a56e884 > .elementor-widget-container{margin:20px 0px 0px 0px;padding:0em 0em 0em 0em;}.elementor-17744 .elementor-element.elementor-element-4094952b > .elementor-container{max-width:500px;}.elementor-17744 .elementor-element.elementor-element-4094952b{margin-top:10px;margin-bottom:0px;padding:0px 10px 030px 10px;}.elementor-17744 .elementor-element.elementor-element-6e205048:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-17744 .elementor-element.elementor-element-6e205048 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B5998;}.elementor-17744 .elementor-element.elementor-element-6e205048 > .elementor-element-populated, .elementor-17744 .elementor-element.elementor-element-6e205048 > .elementor-element-populated > .elementor-background-overlay, .elementor-17744 .elementor-element.elementor-element-6e205048 > .elementor-background-slideshow{border-radius:12px 12px 12px 12px;}.elementor-17744 .elementor-element.elementor-element-6e205048 > .elementor-element-populated{box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-17744 .elementor-element.elementor-element-6e205048 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-17744 .elementor-element.elementor-element-6e205048 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-17744 .elementor-element.elementor-element-2c990624{text-align:center;}.elementor-17744 .elementor-element.elementor-element-2c990624 .elementor-heading-title{color:#FFFFFF;font-family:"Barlow Semi Condensed", Sans-serif;font-size:28px;font-weight:600;line-height:45px;letter-spacing:-1px;text-shadow:0px 0px 0px rgba(0,0,0,0.3);}.elementor-17744 .elementor-element.elementor-element-2c990624 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-repeater-item-7885856.elementor-social-icon{background-color:#2595C400;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-repeater-item-7885856.elementor-social-icon i{color:#808080;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-repeater-item-7885856.elementor-social-icon svg{fill:#808080;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-repeater-item-5ec626a.elementor-social-icon{background-color:#FFFFFF;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-repeater-item-5ec626a.elementor-social-icon i{color:#808080;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-repeater-item-5ec626a.elementor-social-icon svg{fill:#808080;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-repeater-item-1c6d745.elementor-social-icon{background-color:#FFFFFF;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-repeater-item-1c6d745.elementor-social-icon i{color:#808080;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-repeater-item-1c6d745.elementor-social-icon svg{fill:#808080;}.elementor-17744 .elementor-element.elementor-element-68a8229{--grid-template-columns:repeat(3, auto);--icon-size:35px;--grid-column-gap:30px;--grid-row-gap:0px;}.elementor-17744 .elementor-element.elementor-element-68a8229 .elementor-widget-container{text-align:center;}.elementor-17744 .elementor-element.elementor-element-68a8229 > .elementor-widget-container{margin:-20px 0px 0px 0px;padding:0px 0px 3px 0px;background-color:#FFFFFF;border-radius:0px 0px 12px 12px;}.elementor-17744 .elementor-element.elementor-element-58c90c30 .elementor-repeater-item-9034fa2 .swiper-slide-bg{background-color:#833ca3;background-image:url(https://mr247bet.com/storage/2022/01/mundial-fever-casino-betting-slot-spin-game-big-win-welcome-sport-bonus-promotion-deposit.jpg);background-size:cover;}.elementor-17744 .elementor-element.elementor-element-58c90c30 .elementor-repeater-item-0ca2ad3 .swiper-slide-bg{background-color:#4054b2;background-image:url(https://mr247bet.com/storage/2022/01/basketball-star-casino-betting-slot-spin-game-big-win-welcome-sport-bonus-promotion-deposit.jpg);background-size:cover;}.elementor-17744 .elementor-element.elementor-element-58c90c30 .elementor-repeater-item-502e2fa .swiper-slide-bg{background-color:#bbbbbb;background-image:url(https://mr247bet.com/storage/2022/01/11-champions-casino-betting-slot-spin-game-big-win-welcome-sport-bonus-promotion-deposit.jpg);background-size:cover;}.elementor-17744 .elementor-element.elementor-element-58c90c30 .swiper-slide{height:130px;transition-duration:calc(3000ms*1.2);}.elementor-17744 .elementor-element.elementor-element-58c90c30 .swiper-slide-contents{max-width:100%;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-17744 .elementor-element.elementor-element-58c90c30 .swiper-slide-inner{text-align:center;}.elementor-17744 .elementor-element.elementor-element-58c90c30 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0em 0em 0em 0em;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:14px;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-14px;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-labels-inline .elementor-field-group > label{padding-left:9px;}body:not(.rtl) .elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-labels-inline .elementor-field-group > label{padding-right:9px;}body .elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-labels-above .elementor-field-group > label{padding-bottom:9px;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-field-type-html{padding-bottom:7px;letter-spacing:-1px;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-button{font-weight:bold;line-height:1.22px;border-radius:24px 24px 24px 24px;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .e-form__buttons__wrapper__button-next{background-color:#FF4F30;color:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-button[type="submit"]{background-color:#FF4F30;color:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .e-form__buttons__wrapper__button-previous{background-color:#4D4D4D;color:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-17744 .elementor-element.elementor-element-388e5b86{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#FFFFFF;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:0px;--e-form-steps-divider-gap:10px;}.elementor-17744 .elementor-element.elementor-element-388e5b86 > .elementor-widget-container{padding:20px 0px 0px 0px;background-color:#3A3A3A;border-radius:12px 12px 12px 12px;}.elementor-17744 .elementor-element.elementor-element-203321cf img{width:410px;max-width:410px;height:130px;object-fit:fill;}.elementor-17744 .elementor-element.elementor-element-203321cf > .elementor-widget-container{margin:14px 0px 15px 0px;padding:0px 0px 0px 0px;}@media(max-width:767px){.elementor-17744 .elementor-element.elementor-element-21143181 > .elementor-container{max-width:500px;}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e:after{content:"0.5";}.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__title, .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__title a{font-size:20px;}}/* Start custom CSS for archive-posts, class: .elementor-element-7bfb3f6e */.elementor-17744 .elementor-element.elementor-element-7bfb3f6e  article{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.elementor-17744 .elementor-element.elementor-element-7bfb3f6e >div >div div>  .elementor-post-avatar:before{
   content:url('/storage/2022/03/ico-message-1.svg'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    z-index:5; /*a number that's more than the modal box*/
    left:4px;
    position: absolute;
    transform: scale(0.7);
    top: 3px;
     
}
.elementor-17744 .elementor-element.elementor-element-7bfb3f6e >div >div div>  .elementor-post-avatar{
    position: absolute;
    top: 0;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
    background: rgba(44, 44, 44, 0.63);
    color: #fff;
    padding: 0.6em 1em 0.6em 3.2em;
    line-height: 1;
    font-weight: 500;
    float: right;
    border-bottom-left-radius:12px;
    right: 0px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    opacity: 1!important;
    letter-spacing: normal;
    text-transform:lowercase;
}


.elementor-17744 .elementor-element.elementor-element-7bfb3f6e >div >div div> .elementor-post__badge
{
   
     background-color: white;
    color:black;
    bottom: 0px!important;
    top:auto;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: right;
  color: #4d4d4d;
    text-transform: capitalize!important;


    
}
.elementor-17744 .elementor-element.elementor-element-7bfb3f6e  article:nth-child(3)::after {
  color: lime;
  content:"";
}

.elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__card{
   
     border-radius:12px 12px;
}


.elementor-17744 .elementor-element.elementor-element-7bfb3f6e article{
    border-radius:12px 12px;

}
.elementor-17744 .elementor-element.elementor-element-7bfb3f6e  div {
    border-radius:12px 12px;

}
.elementor-17744 .elementor-element.elementor-element-7bfb3f6e div {
    border-radius:12px 12px 0px 0px;
 
}


@media only screen and (max-width: 600px) {
    
    .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post-avatar{
        display:none;
    }
    
   .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__title a{
       color:#696969;
   }
 .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__card
 { 
     flex-direction:row!important;
     
     
 }
 
 .elementor-17744 .elementor-element.elementor-element-7bfb3f6e article{
     min-height:120px!important;
 }
 .elementor-17744 .elementor-element.elementor-element-7bfb3f6e >div >div div>  .elementor-post-avatar > img{
   height:16px!important;
   
  
    
}
.elementor-posts-container.elementor-has-item-ratio .elementor-post__thumbnail img {
  height:100%!important;
  /*  top: calc(100% + 1px)!important;*/

}
 
 .elementor-17744 .elementor-element.elementor-element-7bfb3f6e .elementor-post__thumbnail{
     overflow:inherit;
     width:100%!important;
     height:100%!important;
 }
 
 .Mread .elementor-post__badge{
     color:#4d4d4d!important;
      margin-right: 20px!important;
 }
 .Mread .elementor-post__text
  {
    padding-bottom:25px!important;
      
 }
 .Mread .elementor-post__thumbnail__link {
   
     margin-bottom:0px!important;
 }
 
 .Mread .elementor-post__text{
     width:50%;
 }
 
 .Mread  .elementor-post__meta-data{
     position: absolute;
    bottom: 0px;
    padding: 3px 0px!important;
    margin-left: 50%;
 }
 
 .Mread img{
     width:100%!important;
     height:220px!important;
 }
 
 .elementor-17744 .elementor-element.elementor-element-7bfb3f6e >div >div div> .elementor-post__badge{
     z-index:1;
     width: 60px;
     right: 3px;
     text-align:right;
     background-color: white;
     color:black;
     bottom: 0px!important;
     top:auto;
     font-family: Roboto;
     font-size: 14px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     padding:0px;
     margin-left:5px;
}
 
}

.elementor-851 .elementor-element.elementor-element-12f07f0 .elementor-pagination .page-numbers.current{
    padding: 5px 13px 7px;
    border-radius: 12px;
    background-color: #ff4f30;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-3d79aae9 */.elementor-17744 .elementor-element.elementor-element-3d79aae9 >div h5{
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #292929;
}

.elementor-17744 .elementor-element.elementor-element-3d79aae9 >div a{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:15px!important;
  line-height: 1.33;
  text-align: left;
  color: #06c;
}

.elementor-17744 .elementor-element.elementor-element-3d79aae9 >div a::before{
  color:#0066cc!important;
  content: "•";
  font-size:20px;
  text-align: right;
  font-weight: 300;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: right;
  color: #292929;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-355f598b */.elementor-851 .elementor-element.elementor-element-c108329:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-851 .elementor-element.elementor-element-c108329 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-68a8229 */.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-7885856.elementor-social-icon i:hover{
    color: #3b5998;
    transition: transform .2s;
    transform: scale(1.25);
}

.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-5ec626a.elementor-social-icon i:hover{
    color: #941fa1;
    transition: transform .2s;
    transform: scale(1.25);
}

.elementor-851 .elementor-element.elementor-element-bfc8e53 .elementor-repeater-item-1c6d745.elementor-social-icon i:hover{
    color: #50abf1;
    transition: transform .2s;
    transform: scale(1.25);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6e205048 */.elementor-851 .elementor-element.elementor-element-eae7151:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-851 .elementor-element.elementor-element-eae7151 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-388e5b86 */.elementor-17744 .elementor-element.elementor-element-388e5b86 input {
    border-radius:20px 20px 20px 20px;
}

.elementor-17744 .elementor-element.elementor-element-388e5b86 form{
    margin-left: 20px;
    margin-right: 20px;
}

.elementor-851 .elementor-element.elementor-element-34ee566 .elementor-button[type="submit"]:hover{
    background-color: #ff6246;
}

.elementor-105 .elementor-element.elementor-element-ec87f79 .elementor-field-type-html h2{
    margin-left: 35px
}

body .elementor-851 .elementor-element.elementor-element-34ee566 .elementor-labels-above .elementor-field-group > label {
      width: 384px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }

.elementor-851 .elementor-element.elementor-element-34ee566 > .elementor-widget-container{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-203321cf */background-color:black;/* End custom CSS */